@{
    ViewData["Title"] = "Home Page";
}
@model IEnumerable<FlightService.Web.Models.FlightViewModel> 
<div class="bg-white">
    <div class="container">
        <h1 class="text-center">Flight Service</h1>
        <h2>Flights</h2>
        <p>Add, Update, and Delete flights. Each flight must have a flight number, departure date, arrival date, departure airport, arrival airport, and the capacity of the flight.
        When deleting a flight all passengers that are on that flight will automatically be deleted.</p>
        <h2>Passenger</h2>
        <p>Add, Update, and Delete Passengers. Each passenger must have a confirmation number, flight number, name, age, email, and job.</p>
        <br>
    </div>
</div>

